@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

@import url("components/header.css");
@import url("components/gallery.css");
@import url("components/ending.css");
@import url("components/picturebutton.css");
@import url("components/testimonial.css");
@import url("components/footer.css");
@import url("components/carousel.css");
@import url("components/featured\ products.css");
@import url("components/imgcomp.css");

@import url("product\ components/title.css");
@import url("product\ components/product.css");

@import url("faq\ components/title.css");
@import url("faq\ components/faq.css");

@import url("support\ components/title.css");
@import url("support\ components/support.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-size: 100% 100%;
  max-width: 1190px;
  height: 100vh;
  font-family: 'Kiona', sans-serif;
  background-image: linear-gradient(to right, #000000, rgb(48, 25, 91));
}

.vaalor {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 127px 0px;
  padding-top: 100px;
  padding-bottom: 0;
  background-size: auto;
  background-position: center;
}

a {
  text-decoration: none;
}