.support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1270px;
    min-height: 10px;
    margin: 74px auto;
    margin-bottom: 127px;
    padding: 74px;
    background-image: linear-gradient(to bottom, #000000, rgb(34, 15, 68));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 2em;
}

.support h2 {
    font-family: 'helvetica';
    font-weight: 400;
    letter-spacing: 2.7px;
    color: #acacac;
    font-size: 30px;
}

@media (max-width: 1190px) {
    .support {
        padding: 40px 27px 40px;
    }
}